html,
body {
    color: #fff;
}

.btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
}

.btn-outline:hover {
    background-color: #563d7c;
    color: #fff;
}

.btn-cast {
    padding: 10px 30px;
}
/*

    My CSS
    ===========================================================================
*/

.hero {
    position: relative;
    min-height: 800px;
    padding: 60px 0 60px 0;
    background: #A61723 no-repeat center center;
    background-size: cover;
    color: antiquewhite;
}

.head {
    position: relative;
    margin-top: 210px;
    background-color: transparent;
}

.head h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    line-height: 0.8;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
}

.logo {
    position: relative;
    left: 200px;
}
/*Navigation*/

.top-menu {
    position: relative;
    margin: 10px 40px 0 0;
    padding: 2px;
}

.top-menu ul {
    list-style-type: none;
}

.top-menu li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: inline;
    letter-spacing: 2px;
    margin-left: 60px;
}

.top-menu a {
    text-decoration: none;
    color: azure;
}
/* ==========================================================================
Video
========================================================================== */

section.video i {
    margin-right: 10px;
    color: #323a45;
    vertical-align: middle;
    font-size: 50px;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

section.video h1 {
    font-weight: 400;
    font-size: 20px;
}

section.video {
    padding: 60px 0;
    background-color: #f6f7f9;
}

section.video a {
    color: #323a45
}

section.video a:hover,
section.video a:focus {
    color: #73d0da;
    text-decoration: none;
}

section.video a:hover i,
section.video a:focus i {
    color: #73d0da
}
/* ==========================================================================
Intro
========================================================================== */

.intro {
    font-family: 'Open Sans', sans-serif;
    background: #2E3959;
    padding: 60px 0;
    color: #fff;
}

.intro h1 {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}

.intro h2 {
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 22px;
}

.intro p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 2px;
}

.intro li {
    line-height: 32px;
}
/* ==========================================================================
Boards
========================================================================== */

.board {
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0;
    background: #f6f7f9;
}

.board h1 {
    font-weight: 300;
    color: #2e3959;
    margin-bottom: 20px;
}

.board a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
/* ==========================================================================
Events
========================================================================== */

.events {
    padding: 30px 0;
    background: #F24B59;
}
/* ==========================================================================
Footer
========================================================================== */

footer {
    font-family: 'Roboto', sans-serif;
    padding: 40px 0;
    background: #F0F2F2;
}

footer h2 {
    font-size: 40px;
    font-weight: 400;
    color: cadetblue;
}

footer h3 {
    font-size: 32px;
    color: #333;
}

footer a {
    padding: 2px 10px;
}
/* ==========================================================================
Waypoints
========================================================================== */

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6 {
    visibility: hidden;
}

.bounceInUp,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown {
    visibility: visible;
}

.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}